body {
  margin: 0;
  visibility: hidden;
}

iframe#user1 {
  width: 100%;
  /* height: calculated based off of footer */
}

footer div {
  display: inline-block;
  margin-left: 5px;
}

.ensure-undo {
    cursor: default;
}

.ensure-undo.active {
    font-weight: bold;
}

#websocket-connection {
    display: inline-block;
    width: auto;
    height: auto;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}
